/**********************************************************
***             Tactile Anywhere stylesheet             ***
**********************************************************/

body{
	font-family:Calibri,Arial,sans-serif;
	text-align:justify;
	margin-left:5%;
	margin-right:5%;
	color:#000;
}

h1{
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#000;
}

h2{
	text-transform:uppercase;
	text-align:center;
	font-size:18px;
	font-weight:normal;
	color:#055;
}

#content{
	font-size:16px;
	font-weight:normal;
	color:#59726e;
}

#button-text{
	font-variant:small-caps;
	font-size:16px;
	font-weight:bold;
	color:#003a13;
}

#quote{
	font-weight:bold;
	color:#7cbdd3;
}

#liste{

}

#important{
	font-variant:small-caps;
	font-size:18px;
	font-weight:bold;
	color:#f00;
}